.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chatOnlineBadge {
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #10b981;
  position: absolute;
  bottom: 3px;
  right: 2px;
}

.chatOnlineName {
  color: white;
}

@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}
