.messengerWrapper {
  display: flex;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}

.conversationList_container {
  display: flex;
  /* height: 800px; */
  height: 100%;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.conversationList_container-responsive {
  display: none;
  height: 100%;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  /* width: 90%; */
  top: 0%;
  z-index: 1;
  transition: 0.8s ease;
}

.conversationList_sidebar {
  z-index: 2;
  width: 72px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--primary-color);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
  /* border-top-left-radius: 16px; */
  /* border-bottom-left-radius: 16px; */
}

.conversationList_sidebar_icon {
  width: 44px;
  height: 44px;
  margin: 14px;
  background: linear-gradient(
      150.64deg,
      rgba(0, 0, 0, 0.1) 12.73%,
      rgba(0, 0, 0, 0) 89.32%
    ),
    #ffffff;
  border-radius: 9999px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.icon_inner {
  font-family: Helvetica Neue, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversationList_header {
  padding-left: 16px;
  height: 62px;
}

.conversationList_header_text {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.conversationList_list_wrapper {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  width: 240px;
}

.chatBox {
  flex: 8;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 90%;
  height: 90px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  resize: none;
}
.chatMessageInput:focus {
  border: 2px solid var(--primary-color);
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}

.chatOnline {
  flex: 2;
  background-color: var(--primary-color);
}

.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 560px) {
  .conversationList_container {
    display: none;
  }

  .conversationList_container-responsive {
    display: flex;
  }

  .conversationList_list_wrapper {
    width: 100%;
  }
  .conversationList_sidebar {
    width: 60px;
  }
  .conversationList_sidebar_icon {
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .chatBox {
    flex: 10;
  }
  .chatBoxWrapper {
    padding: 5px;
  }

  .chatOnline {
    border-left: 1px solid #a2a2a2;
    width: 40px;
  }
}
